/* body */
.signup-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/Bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;

  /* div com o form */
  .signup-form-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 3.75vh 1.59vw 2.95vh 1.59vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    
    @media (max-width: 600px) {
      padding: 35px 20px 26px 20px; 
    }
  }

  /* A FAZER:
  
  - Mouse desaparecendo toda vez que tento clicar no botão de sign up
  após escrever algo nos campos de registro */

  /* form com os menus */
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    legend {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 25px;
      text-align: center;

      color: #000000; 
    }
  }

  /* menu de botões */
  .signup-form-btns-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-size: small;
    text-align: center;
  }

  .signup-google-btn {
    width: 100%;
    background-color: lightblue;
    color: black;
  }

  .signup-signup-btn {
    width: 100%;
    height: auto;
    background-color: #fd7932;
    color: white;
  }

  .signup-signup-btn:hover {
    background-color: #d7723b;
  }

  .signup-login-btn {
    color: blue;
    text-decoration: underline;
  }

  /* menu de inputs */
  .signup-form-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.63vh;
    border: none;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      color: #000000;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
  /* menu de inputs de registro */

  .signup-input-container,
  .signup-select-container {
    width: 324px;
    padding: 9px;
    border-radius: 5px;
    height: 15%;
    margin: 0;
    border: solid #000000 1px;

    background-color: white;
    color: black;
  }

  .signup-select-container {
    width: 100%;
    /* n sei oq fazer sobre os inputs se recusarem a ocupar a linha toda :(  */
  }
}
