.fastAccess_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #440404; /* trocar cor de fundo */
    z-index: 1000; /* garante que ficará acima de outros elementos */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* sombra para destacar */
    padding: 1vh 0; /* adiciona espaçamento interno */
}

.fastAccess_container img{ 
    height: 10vh;
    /* margin-bottom: 0; */
}

.premierBall {
    margin-bottom: 3vh;
}

/* Classe utilitária para evitar sobreposição */
.content-with-fixed-footer {
    padding-bottom: 15vh; /* altura estimada do footer + margem */
}

.premierBall {
    margin-bottom: 3vh;
}

