.header_container {
    width: 100%;
    height: 7.2vh;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: #58A8C0;
}

.changeTheme_button {
    height: 40px;
    margin-right: 15px;
    background-image: url('../../assets/img/changeDarkTheme.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    width: auto;
}

.absoluteHeader {
    position: absolute;
    top: 0;
    left: 0; 
}