.header_container {
    width: 100vw;
    height: 7.2vh;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: #58A8C0;
}

.header_container img {
    height: 4vh;
    margin: 15px;
    width: auto;
}

.relativeHeader {
    position: relative;
}