.chat-page {
  height: 92.8vh;
  background-image: url("../../assets/img/Bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .chatWindow_container {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-window {
    width: 96%;
    height: 90%;
    max-width: 90vw;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 20px;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);

    @media (max-width: 550px) {
      max-width: 80svw;
    }
  }

  /* ---------------------- container Mensagens ----------------- */

  .chatMessage_container {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: start;
    border-radius: 6px;
    gap: 5px;
    /* margin: 4px 0; */
  }

  .chatMessage_content {
    background: #347cec;
    min-width: 15vw;
    padding: 7px 10px 7px 25px;
    border-radius: 0px 5px 20px 5px;
    border: solid black 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    color: #000000;
  }
  
  .chatMessage_container img {
    margin-top: 10px;
  }
  
  .current-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center-end;
  }
  
  .current-user_text {
    background-color: #fd7932;
    border-radius: 5px 0px 5px 20px;
    padding: 7px 25px 7px 10px;
    text-align: end;
    font-weight: 400;
  }

  .senderName_text {
    font-weight: 600;
  }

  /* ---------------- messaege input ----------------- */

  .chat-input-row {
    width: 100%;
    height: 8%;
    display: flex; flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #58a8c0;
  }

  .chat-input {
    width: 33.3vw;
    height: 2.95vh;
    background: #fae7d4;
    border-radius: 15px;
    font-size: 17.5px;
    padding: 5px 1vw;
    @media (max-width: 550px) {
      width: auto;
    }
  }

  .chat-send {
    width: fit-content;
    background-color: #fd7932;
    border: solid black 1px;
    color: black;
    font-weight: 700;
  }
}
