/* NAVBARU */

.navbar {
  width: auto;
  min-height: 7.2vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navMenu_container {
  margin-left: 15px;
  height: 7.2vh;
  min-height: 7.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu_button {
  width: auto;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #fd7932;
}

.navMenu_button:hover {
  background-color: #e0753b;
}

.navMenu_button img {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: white;
  margin-right: 7px;
}
.navMenu_button span {
  padding: 0 13px 0 13px;
  color: black;
  border-left: solid #000000 1px;
}

@media (max-width: 500px) {
  .navMenu_button {
    width: auto;
  }
}

/* --------------- */

.nav-menu-items {
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: auto;
  height: fit-content;
  margin: 0;
  padding: 10px 0 10px 5px;
  border: 2px solid #fd7932;
  border-radius: 0 0 15px 0;
  border-left: none;
  border-top: none;
  background-color: #2c2a3e;
  list-style: none;
  gap: 10px;
}
.sidebar_item {
  padding-right: 10px;
}
.sidebar_item:hover {
  border-radius: 50px 0 0 50px;
  background-color: #666299;
}

.sidebar_container {
  height: fit-content;
}

.sidebar_item a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.sidebar_item a span {
  color: white;
  font-weight: 500;
}
.sidebar_item a img {
  background-color: white;
  border-radius: 50%;
}

/* --------------- */

.nav-img {
  width: 35px;
  height: 35px;
}
