/* NAVBARU */

.header {
  height: 0;
}

.navbar {
  position: fixed;
  top:0;
  left:0;
  height: 50px;
  background-color: #2c2a3e;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.nav-menu.active {
  border-right: 2px solid #fd7932;
  background-color:#0e0e2a;
}

.nav-btn-container {
  display: flex;
  width: 60px;
  height: 25px;
  margin: 14px;
  border: 1px solid black;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  color: #3f3f3f;
}

.nav-btn-container.active {
  width: 115px;
  gap: 5px;
  border: none;
  color: black;

}

.nav-btn {
  width: 99%;
  height: auto;
  padding: 5px;
  background-image: url("../../../../assets/img/menuhomeoff.png");
  background-size: contain;
  border: 1px solid white;
  border-radius: 20px;
    background-repeat: no-repeat;
}



.nav-btn-container.active > .nav-btn {
  width: 20%;
  height: auto;
  background-image: url("../../../../assets/img/menuhome.png");
  background-repeat: no-repeat;
  
}

.nav-btn-container > span {
  display: none;
}

.nav-btn-container.active > span {
  display: flex;
  padding-left: 15px;
  
}

.nav-menu-items {
  display: none;
  width: 40%;
}

.nav-menu-items.active {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: fit-content;
  align-items: center;
  margin: -2px;
  padding: 0;
  padding-top: 5px;
  border: 2px solid #fd7932;
  border-radius: 0 0 15px 0;
  border-left: none;
  border-top: none;
  background-color: #0e0e2a;
  list-style: none;
}

.nav-menu-items.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #fd7932;
}

.nav-container > a {
  display: flex;
  align-items: center;
  padding: 6px;
  color: black;
}

.nav-img {
  width: 35px;
  height: 35px;
}

.title-nav-bar {
  text-align: center;
  background-color: white;
  border: 5px solid rgb(87, 87, 87);
  border-left: none;
  border-top: none;
  border-radius: 12px;
}
/* 
.title-nav-bar:hover {
  background-color: red;
  isso n funciona direito, sรณ no modo inspecionar.
} */



/* RANKING */

