.menu {
    margin: 12px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search{
    padding: 8px 12px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #ee7329;
}

.list-item{
    display:grid;
    border: 1px solid #ee7329;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 5px;
    width: 168px;
    height: 200px;
    cursor: pointer;
}

.pokemon-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-around;
    gap: 16px;
    padding: 20px;
}
.pokeimg{
    width:auto;
    height: auto;
}

.pokemon-name{
    text-transform: capitalize;
}