.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    
    align-items: center;
    background-color: white;
    background-image: url("../../assets/img/Bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homeFastAccess, .homeChatOnline, .homePokedex, .homeGacha {
    display: flex;
    border-radius: 15px;
    color: black;
}

.homeGacha {
    justify-content: center;
}

.homeFastAccess {
    max-width: 830px;
    width: 95%;
    flex-direction: column;
    margin-top: 5vh;
    padding: 10px;
    align-items: center;
    background-color: rgb(39, 37, 51, 0.5);
    border: solid #000000 1px;

    @media (max-width: 1000px) {
        max-width: 500px;

        @media (max-width: 590px) {
            max-width: 350px;
        }
    }
}

.homeFastAccess h3 {
    margin: 20px 0 20px 0;
    color: white;
}

.homeFastAccess-paragraph{
    padding-top: 10px;
    text-align: center;
}

.homePokedex {
    padding-bottom: 30px;
}


/* fast access ta passando por cima da navbar :(  */