.gacha-home {
  height: 82.8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;

  background-image: url("../../assets/img/Bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.gacha-home_loggedOff {
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

h1 {
  height: auto;
  margin-bottom: 1rem;
  color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;
  height: auto;
  padding-bottom: 50px ;
}

.card-item {
  height: auto;
  padding: 0.5rem;
  background: #1e1e1e;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.card-item img {
  width: auto;
  height: auto;
  border-radius: 8px;
}

.card-info {
  height: auto;
  margin-top: 0.5rem;
}

.rarity {
  font-size: 0.9rem;
  color: gold;
}
