.landingPage_container {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #c9deff;
  color: black;
}

.landingPage_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vh;
}

.landingPage_container footer {
  height: auto;
  padding: 2vh 0vw;
  background: #58a8c0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPage_container footer p {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}

.p_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 5.18vh;
  margin-bottom: 8vh;
}

.textWhy_container {
  display: flex;
  border-radius: 15px;
  border: solid white 5px;
  max-width: 70vw;
  overflow: hidden;
}
.textWhy_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.55vw;
  padding: 1.82vw;
  background-color: #fd7932;
  border-right: solid #000000 4px;
}
.textWhy_content {
  display: flex;
  align-items: center;
  padding: 1.82vw;
  width: 62.45vw;
  background-color: #46b9bc;
}
/* ---- */

.presentation_container {
  height: 92.8vh;

  background-image: url("../../assets/img/Bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 10vh 13.9vw 0 13.9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.presentation_container p,
.presentation_container h2,
.presentation_container button {
  color: black;
}

.presentation_container button {
  height: fit-content;
  width: 100%;
  background: #fd7932;
  border-radius: 13.1537px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 19.7305px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/* ---- */
.presentation_title {
  display: flex;
  flex-direction: column;
  gap: 1.38vh;
}
.presentation_title h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28.9381px;
  line-height: 35px;
  color: #000000;
}

.presentation_title p {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7844px;
  line-height: 19px;
  text-align: center;
}

.presentation_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.46vh;
}

/* ---- */

.pikassistentIntro_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.22vh;
  max-width: 35.41vw;
}

.pikassistentIntro_container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 23.6766px;
  line-height: 29px;
  align-items: center;

  color: #000000;
}

.pikassistentIntro_container p {
  font-style: normal;
  font-weight: 400;
  font-size: 15.7844px;
  line-height: 19px;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* ---- */

.elementsInfo_container {
  padding: 0 7.39vw 0 7.39vw;
}

/* ---- */

.moreInfo_helper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------- features ------------- */

.feature_card {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 85.22vw;
  border: solid white 5px;
  border-radius: 20px;
}

.feature_card .feature_icon {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 100%;
  padding: 0 20px 0 15px;
  width: 20%;
  border-radius: 20px 0 0 20px;
  background-color: #2c2a3e;
  border-right: solid black 5px;
}

.feature_card .feature_icon h3 {
  color: white;
  font-size: 1.1rem;
}

.feature_card .feature_content {
  height: 100%;
  width: 80%;
  padding: 3vh 25px;
  display: flex;
  align-items: center;
  background-color: #58a8c0;
  border-radius: 0 20px 20px 0;
}

.feature_card .feature_content p {
  font-size: 1.1rem;
  font-weight: 600;
}

.features_title {
  font-style: normal;
  font-weight: 700;
  font-size: 20.33px;
  line-height: 25px;

  color: #000000;
  margin-bottom: 15px;
}

.features_container {
  display: flex;
  flex-direction: column;
  gap: 3.51vh;
}

.pokedexInfo img {
  width: 70px;
  height: 85px;
  margin-right: 0.52vw;
}

.chatBotInfo img {
  width: 76px;
  height: 78px;
}

.chatGlobalInfo img {
  width: 76px;
  height: 78px;
}

/* --------------- cta buttons -------------- */

.cta_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 20vh;
}

.cta_buttons .primary_cta {
  border-radius: 50px;
}

.cta_buttons .primary_cta:hover {
  animation: forwards primaryCta_transition 0.25s;
}

.cta_buttons .primary_cta:not(:hover) {
  animation: forwards primaryCta_reverseTransition 0.25s;
}

.cta_buttons .secondary_cta {
  border-radius: 50px;
}

.cta_buttons .secondary_cta:hover {
  animation: forwards secondaryCta_transition 0.25s;
}

.cta_buttons .secondary_cta:not(:hover) {
  animation: forwards secondaryCta_reverseTransition 0.25s;
}



@media (max-width: 800px) {
  .pikassistentIntro_container {
    max-width: 60vw;
  }
}

@media (max-width: 450px) {
  .presentation_container {
    padding: 11.01svh 10.23svw 0 10.23svw;
  }

  .pikassistentIntro_container {
    max-width: 80vw;
  }

  .p_container {
    flex-direction: column;
  }

  .textWhy_container {
    flex-direction: column;
    width: 100%;
  }

  .textWhy_title {
    width: 100%;
    border-right: none;
    border-bottom: solid #000000 3px;
  }

  .textWhy_content {
    padding: 10px 20px 20px 20px;
    width: 100%;
  }

  .presentation_container footer {
    padding: 2svh 1svw;
  }
}

@media (max-width: 1360px) {
  .feature_card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .feature_card .feature_icon {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: solid #000000 4px;
    border-right: none;
    padding: 15px;
    justify-content: center;
  }

  .feature_card .feature_content {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

/* ------------- animações ------------ */

@keyframes primaryCta_transition {
  from {
    background-color: #fd7932;
    border: solid black 2px;
    color: black;
  }
  to {
    background-color: black;
    border: solid #fd7932 4px;
    color: #fd7932;
  }
}

@keyframes primaryCta_reverseTransition {
  from {
    background-color: black;
    border: solid #fd7932 4px;
    color: #fd7932;
  }
  to {
    background-color: #fd7932;
    border: solid black 2px;
    color: black;
  }
}

@keyframes secondaryCta_transition {
  from {
    background-color: #fd7932;
    border: solid black 2px;
    color: black;
  }
  to {
    background-color: black;
    border: solid #fd7932 4px;
    color: #fd7932;
  }
}

@keyframes secondaryCta_reverseTransition {
  from {
    background-color: black;
    border: solid #fd7932 4px;
    color: #fd7932;
  }
  to {
    background-color: #fd7932;
    border: solid black 2px;
    color: black;
  }
}
