.fastAccess_container {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: auto;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 1vh 0; /* adiciona espaçamento interno */
    background-color: #440404; /* trocar cor de fundo */
    border-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* sombra para destacar */
    /* position: fixed;
    bottom: 0;
    left: 0; */
}

.fastAccess_container img{ 
    height: 10vh;
    /* margin-bottom: 0; */
}

.premierBall {
    margin-bottom: 3vh;
}

/* Classe utilitária para evitar sobreposição */
.content-with-fixed-footer {
    padding-bottom: 15vh; /* altura estimada do footer + margem */
}

.premierBall {
    margin-bottom: 3vh;
}

