:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(250, 233, 208); /* texto principal */
  background-color: rgb(41, 23, 24); /* fundo geral */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  height: 40px;
  padding: 10px;
  background-color: rgba(41, 23, 24);
}

.header-button {
  margin-left: auto;
  width: 120px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 950px;
  position:relative;
  background: radial-gradient(rgba(150, 98, 26, 0.49), rgba(240,168,41));
}
main::before {
  width: 100%;
  height: 100%;
  content:"";
  position: absolute;
  background-image: url("./assets/loginbgg.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.login-container {
    background-color: rgb(135, 64, 55);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    max-width: 400px;
    text-align: center;
    opacity: 0.95;
}


.login-container h2 {
    margin-bottom: 30px;
    color: rgb(250, 233, 208);
}

.login-container input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(150, 98, 26);
    font-size: 16px;
    background-color: rgb(250, 233, 208);
    color: rgb(41, 23, 24);
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: rgb(240, 168, 41);
    color: rgb(41, 23, 24);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-container button:hover {
    background-color: rgb(150, 98, 26);
}

.login-container a {
    display: block;
    margin-top: 15px;
    color: rgb(240, 168, 41);
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: auto;
  background-color: rgb(41, 23, 24);
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(41, 23, 24);
    background-color: rgb(250, 233, 208);
  }
  a:hover {
    color: rgb(135, 64, 55);
  }
  button {
    background-color: rgb(240, 168, 41);
  }
}
