.home {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: white;
    background-image: url("../../assets/img/background-blue-1.jpeg");
}

.homeFastAccess, .homeChatOnline, .homePokedex, .homeGacha {
    display: flex;
    border-radius: 15px;
    color: black;
}

.homeGacha {
    justify-content: center;
}

.homeFastAccess {
    width: 80%;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    align-items: center;
    background-color: rgb(39, 37, 51, 0.5);
}

.homeFastAccess-paragraph{
    padding-top: 10px;
    text-align: center;
}

.homePokedex {
    padding-bottom: 30px;
}


/* fast access ta passando por cima da navbar :(  */