.home {
    display: flex;
    flex-direction: column;
    gap: 25px;    
    align-items: center;
    background-color: white;
}

.homeGachaRanking, .homeChatGlobal, .homePokedex {
    display: flex;
    width: 50%;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: grey;
}

.homeGachaRanking {
    margin-top: 15px;
}

.homeChatGlobal {
    
}

.homePokedex {
    
}