.header_container {
    width: 100vw;
    height: 7.2vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgoldenrod;
}

.header_container img {
    height: 6vh;
    margin: 15px;
    width: auto;
}

.absoluteHeader {
    position: absolute;
    top: 0;
    left: 0;
}