* {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;    
    background-color: white;
    color: black;
}

.top-rank-container {
  margin-top: 20px;
}

.top-rank-columns {
  display: flex;
  background-color: white;
  align-items: center;
  
  
}

.top-rank-container, .leaderboard-container {
  display: flex;
  width: 75%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: grey;
}

