
/* body */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/background-blue-1.jpeg");
  color: black;
}

/* div com o form */
.signup-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}

/* A FAZER:

- Mouse desaparecendo toda vez que tento clicar no botão de sign up
  após escrever algo nos campos de registro */



/* div com os menus */
.signup-form {
  display: flex;
  flex-direction: column;

}

/* menu de botões */
.signup-form-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  gap: 10px;

  font-size: small;
  text-align: center;
}

.signup-google-btn {
  width: auto;
  background-color: lightblue;
  color: black;
}



.signup-signup-btn {
  width: 80%;
  height: auto;
  background-color: orange;
  color: black;
}

.signup-login-btn {
  color: blue;
  text-decoration: underline;
}

/* menu de inputs */
.signup-form-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* menu de inputs de registro */

.signup-input-container, .signup-select-container {
  height: 10%;
  margin: 0;
}

.signup-select-container {
  width: 92%;
  /* n sei oq fazer sobre os inputs se recusarem a ocupar a linha toda :(  */
}

.signup-label {


}



