.list-item{
    display:grid;
    border: 1px solid #ee7329;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    margin: 5px;
    width: 168px;
    height: 250px;
}

.pokemon-list-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
.pokeimg{
    width:auto;
    height: auto;
}